{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.xtdb/xtdb-core {:mvn/version "1.24.5"}
        com.xtdb/xtdb-metrics {:mvn/version "1.24.5"}
        com.xtdb/xtdb-rocksdb {:mvn/version "1.24.5"}
        com.xtdb/xtdb-http-server {:mvn/version "1.24.5"}}}
